.cor-principal{
    color:crimson;
}
h1{
    font-weight: 900;
    height: 36px;
    margin: 0;
    line-height: 0.8;
}


.carousel-caption{
    color: black;
    top:0;
    padding: 60px 130px;
    height: 210px;
    
}
.container{
    background-color: black;
   padding: 10px;
   box-shadow: 5px 5px 5px aqua;
}
.nav-item{
    
    margin-right: 10px; 
    height: 50px;  
    
     
}
.nav-item:hover{
    background-color: crimson;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;  
    box-shadow: 2px 2px 5px white;
}
body{
    background-image: url("/imagem/bd.jpg");
    margin: 0;
}
.navbar-toggler{
    background-color: white;

}
.propri{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: 50% 2fr 1fr 1fr;

    grid-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
    width: 1110px;
    margin: 0px auto;
    box-shadow: 5px 5px 5px aqua;
   background-color: whitesmoke;
}
.Fairy{
    margin-top: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 50px;
    margin-bottom: 50px;
    
}
.topicos{
    margin-top: 40px;
}
footer  .col-lg-12{
    background-color: rgb(121, 8, 8);
    padding: 80px;
      
 }
 .social-media{
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;  
     
 }
 footer{
    color:white;
     
 }
 .social-media a:hover{
    color:  white;
 }
 .ligacao{
     font-size: 25px;
     color: white;
 }
 .ligacao a:hover{
     color: aqua;
 } 
 .fundo {
       border: 5px outset transparent;
       background-color: white; 
       width: 20%;
       font:  arial;
}
@media only screen and (max-width: 800px){
    .propri,.Fairy{
         
        display: block;
       
    }
     

    
}