.nav-item{
   
    margin-right: 10px;
   
    height: 50px;  
  
     
}
.nav-item:hover{
    background-color: crimson;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;  
    box-shadow: 2px 2px 5px white;
}
.cor-principal{
    color:crimson;
}
h1{
    font-weight: 900;
    height: 36px;
    margin: 0;
    line-height: 0.8;
}


.carousel-caption{
    color: black;
    top:0;
    padding: 60px 130px;
    height: 210px;
    
}
.container{
    background-color: black;
   padding: 10px;
   box-shadow: 5px 5px 5px aqua;
}